@{
    ViewBag.Title = "Mambo";
}

<div class="jumbotron">
    <h1>Mambo</h1>
</div>

@model IEnumerable<Mambo.DBO.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Les derniers articles</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdminId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbViews)
        </th>
        <th></th>
    </tr>

</table>