
@{
    ViewBag.Title = "Deconnect";
}

<h2>Deconnect user, @HttpContext.Current.User.Identity.Name</h2>

<input type="button" value="Log out" onclick="location.href='@Url.Action("DeconnectAction")'" />
