
@{
    ViewBag.Title = "Disconnect";
}

<h2>Disconnect @HttpContext.Current.User.Identity.Name ?</h2>

<input type="button" value="Log out" class="btn btn-danger" onclick="location.href='@Url.Action("DeconnectAction")'" />
