
@{
    ViewBag.Title = Resource.logout;
}

<h2>@Resource.disconnect @HttpContext.Current.User.Identity.Name ?</h2>

<input type="button" value="@Resource.logout" class="btn btn-danger" onclick="location.href='@Url.Action("DeconnectAction")'" />
